// copy this file to secrets.h
#pragma once

#define WIFI_SSID "wifi name"
#define WIFI_PASSPHRASE "keyboard cat"

// API key for HSL/Digitransit Routes API
// https://digitransit.fi/en/developers/api-registration/
#define DIGITRANSIT_SUBSCRIPTION_KEY "100000000000000000000000000000"